body{
    font-family: "Roboto", sans-serif;
    background-color: #F6F5EC;
}
.logo{
    height: 100px;
    width: 200px;
}
.content{
    height: 600px;
    width: 1300px;
    background-color: white;
    margin: auto;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: #F9F5EC;

}
.QR{
    height: 500px;
    width: 600px;
    margin: 50px 0px 30px  25px;
    border: 2px solid black;
    border-radius: 10%;
    background-color: white;
}
.login{
    height: 500px;
    width: 600px;
    margin: 50px 30px 0px  25px;
    border: 2px solid black;
    border-radius: 10%;
    background-color: white;
}
.heading{
    font-weight: bold;
    margin: 50px 0px 0px 50px;
    font-size: 40px;
}
.para{
    font-weight: medium;
    padding: 10px 0px 0px 50px;
    font-size: 25px;
}
.list{
    padding: 0px 0px 0px 70px;
}
.list-1{
    padding: 10px 0px 0px 0px;
    font-weight: medium;
    font-size: 20px;
}
.list-2{
    padding: 20px 0px 0px 0px;
    font-weight: medium;
    font-size: 20px;
}
.list-3{
    padding: 20px 0px 0px 0px;
    font-weight: medium;
    font-size: 20px;
}
.list-4{
    padding: 20px 0px 0px 0px;
    font-weight: medium;
    font-size: 20px;
}
.vert{
    color: #000000;
    height: 20px;
    border: 1px solid grey;
    border-radius: 20%;
}
.setting{
    color: #000000;
    height: 20px;
    border: 1px solid grey;
    border-radius: 20%;
}
.browse-1{
    font-size: medium;
    margin: 20px 0px 0px 50px;
    text-decoration: underline;
    color: #007bff;
}
.browse-2{
    font-size: medium;
    margin: 0px 0px 10px 50px;
    text-decoration: underline;
    color: #007bff;
}
.head{
    width: 500px;
    margin: 40px 0px 0px 150px;
 }
 .para-1{
    margin: 20px 0px 0px 100px;
 }
 .country-select {
    width: 60%;
    height: 10%;
    margin: 20px 0px 0px 100px;
    border: 2px solid #000000;
    border-radius: 8rem;
}
.phone-input {
    width: 60%;
    height: 10%;
    margin: 20px 0px 0px 100px;
    border: 2px solid #000000;
    border-radius: 8rem;
}
.next-button {
    background-color: #28a745;
    width: 50%;
    height: 50px;
    margin: 30px 0px 0px 145px;
    border-radius: 8rem;
}
.next-button:hover {
    background-color: #218838;
}
.qr-login {
    margin: 50px 0px 0px 220px;
    color: #007bff;
    text-decoration: none;
    margin-top: 20px;
}